<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maksdu.usr.center.dao.WeChatUserAuthorityDAO">

    <sql id="baseColumn">
        select id,
               code,
               authority,
               clients,
               number,
               createTime,
               updateTime,
               enable
        from usr_authority
    </sql>

    <sql id="queryCondition">
        <where>
            enable = 0
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="code != null">
                AND `code` = #{code}
            </if>
            <if test="authority != null">
                AND `authority` = #{authority}
            </if>
            <if test="clients != null">
                AND clients = #{clients}
            </if>
            <if test="number != null">
                AND `number` = #{number}
            </if>
        </where>
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="authority">
        insert into usr_authority(code, authority, clients, number, createTime, updateTime, enable)
        values (#{code},
                #{authority},
                #{clients},
                #{number},
                NOW(),
                NOW(),
                true)
    </insert>

    <select id="findAll" resultType="authority">
        <include refid="baseColumn"/>
        <include refid="queryCondition"/>
        limit #{pageNo, size}
    </select>


</mapper>